@each $name, $value in $breakpoint-rule {
  @media (min-width: $value) {
    .#{$name}nm {
      margin: 0 !important;
    }
    .#{$name}m-auto{
      margin: auto;
    }
    @each $dir-name, $var in $direction {
      .#{$name}m#{$dir-name}-0 {
        margin: 0;
      }
      @for $i from 1 through 5 {
        .#{$name}m#{$dir-name}-#{$i} {
          margin#{$var}: $spacer + ($i * $spacer);
        }
      }
    }
  }
}
