@each $name, $value in $breakpoint-rule {
  @media (min-width: $value) {
    .#{$name}shadow {
      box-shadow: 0 0.5rem 1rem rgba($black, 0.15);
      &-sm {
        box-shadow: 0 0.125rem 0.25rem rgba($black, 0.075);
      }
      &-lg {
        box-shadow: 0 1rem 3rem rgba($black, 0.175);
      }
    }
  }
}
