@each $name, $var in $breakpoint-rule {
  @media (min-width: $var) {
    @for $i from 1 through 64 {
      .#{$name}w-#{$i} {
        width: $i * 0.25rem;
      }
      .#{$name}h-#{$i} {
        height: $i * 0.25rem;
      }
    }
    .#{$name}w-auto {
      width: 100%;
    }
    .#{$name}h-auto {
      height: 100%;
    }
    .#{$name}max-w-sm {
      max-width: 24rem;
    }
    .#{$name}max-w-md {
      max-width: 40rem;
    }
    .#{$name}max-w-lg {
      max-width: 56rem;
    }
    .#{$name}max-h-sm {
      max-height: 24rem;
    }
    .#{$name}max-h-md {
      max-height: 40rem;
    }
    .#{$name}max-h-lg {
      max-height: 56rem;
    }
    .#{$name}scroll {
      overflow: auto;
    }
    .#{$name}scroll-x {
      overflow-x: auto;
    }
    .#{$name}scroll-y {
      overflow-y: auto;
    }
    .#{$name}overflow-hide {
      overflow: hidden;
    }
  }
}