.dropdown {
  background-color: $white;
  position: absolute;
  display: none;
  @extend .shadow-lg;
  border-radius: $radius;
  z-index: 1000;
  &.showing {
    display: block;
  }
  &.fixed {
    position: fixed;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      padding: 0;
      div {
        padding: 0.5rem;
      }
      div:hover {
        background-color: rgba($color: #000000, $alpha: 0.1);
      }
      .dropdown-link {
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
