.popup{
    background-color: $white;
    position: absolute;
    transform: scale(0);
    padding: $spacer;
    @extend .shadow-lg;
    border-radius: $radius;
    &.fixed{
        position: fixed;
    }
    &.showing{
        transform: scale(1);
        animation: popup-show .3s ease;
    }
    &.goingout{
        animation: popup-hide .3s ease;
    }

    &.dash-right{
        &.point::after {
            content: "";
            position: absolute;
            white-space: pre;
            width: 0;
            height: 0;
            top: 10%;
            left: -10%;
            transform: rotate(270deg);
            border-left: .5rem solid transparent;
            border-right: .5rem solid transparent;
            border-bottom: 1rem solid $white;
        }
    }

    &.point{
        &::after {
            content: "";
            white-space: pre;
            position: absolute;
            width: 0;
            height: 0;
            bottom: 100%;
            left: 10%;
            border-left: .5rem solid transparent;
            border-right: .5rem solid transparent;
            border-bottom: 1rem solid $white;
        }
    }
    
}

@keyframes popup-show{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}
@keyframes popup-hide{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(0);
    }
}