.popup {
  background-color: $white;
  position: absolute;
  display: none;
  padding: $spacer;
  @extend .shadow-lg;
  border-radius: $radius;
  z-index: 1000;
  &.fixed {
    position: fixed;
  }
  &.showing {
    display: block;
    animation: popup-show 0.3s ease;
  }
  &.goingout {
    animation: popup-hide 0.3s ease;
  }
  &.dash-right {
    &.point::after {
      content: "";
      position: absolute;
      white-space: pre;
      width: 0;
      height: 0;
      top: 10%;
      left: -5%;
      transform: rotate(270deg);
      border-left: 0.5rem solid transparent;
      border-right: 0.5rem solid transparent;
      border-bottom: 1rem solid $white;
      z-index: 1000;
    }
  }
  &.point {
    &::after {
      content: "";
      white-space: pre;
      position: absolute;
      width: 0;
      height: 0;
      bottom: 100%;
      left: 10%;
      border-left: 0.5rem solid transparent;
      border-right: 0.5rem solid transparent;
      border-bottom: 1rem solid $white;
      z-index: 1000;
    }
  }
}
@keyframes popup-show {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes popup-hide {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
