//Modal
.modal {
  @include fullsize;
  background-color: rgba($color: $dark, $alpha: 0.3);
  z-index: 1050;
  overflow-y: auto;
  //Small size
  &.modal-sm {
    .modal-dialog {
      width: 95%;

      @media (min-width: $sm) {
        max-width: 425px;
      }
    }
  }
  //Large size
  &.modal-lg {
    .modal-dialog {
      width: 95%;

      @media (min-width: $m) {
        max-width: 720px;
      }
    }
  }
  &.br .modal-dialog {
    top: auto;
    left: auto;
    bottom: 8px;
    right: 8px;
    transform: none;
  }
  &.bl .modal-dialog {
    top: auto;
    bottom: 8px;
    left: 8px;
    transform: none;
  }
  &.tr .modal-dialog {
    top: 8px;
    right: 8px;
    left: auto;
    transform: none;
  }
  &.tl .modal-dialog {
    top: 8px;
    left: 8px;
    transform: none;
  }
  //Wrapper
  .modal-dialog {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;

    @media (min-width: $sm) {
      max-width: 425px;
    }
    //Body
    .modal-content {
      background-color: $white;
      border-radius: $radius;
      padding: $spacer;
      overflow: hidden;

      .modal-header {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;

        .modal-title {
          flex: 1 0 0%;
          font-size: $font-size * 1.5;
        }

        .close {
          @extend .btn-close;
        }
      }
      .modal-body {
        width: 100%;
        margin: $spacer 0 $spacer 0;
      }
      .modal-footer {
        margin: $spacer 0 $spacer 0;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
        * {
          margin: 0 $spacer 0 $spacer;
        }
      }
    }
  }
  transform: translateY(-100%);
  &.fade {
    &.showing {
      animation: modal-fadein 0.4s ease;
    }
    &.goingout {
      animation: modal-fadeout 0.4s ease-in;
    }
  }
  &.slide {
    &.showing {
      animation: modal-slidedown 0.4s ease;
    }

    &.goingout {
      animation: modal-slideup 0.4s ease-in;
    }
  }
  &.bonce {
    &.showing {
      animation: modal-bonce-in 0.4s ease;
    }

    &.goingout {
      animation: modal-bonce-out 0.4s ease-in;
    }
  }
  &.static .modal-dialog {
    transition: transform 0.5s ease;
  }
  &.showing {
    transform: translateY(0);
  }
}
@keyframes modal-bonce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes overflow {
  from {
    overflow: hidden;
  }
  to {
    overflow: hidden;
  }
}
@keyframes modal-bonce-out {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(0);
  }
}
@keyframes modal-fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes modal-fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
@keyframes modal-slidedown {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}
@keyframes modal-slideup {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-100%);
  }
}
@keyframes modal-static-bonce {
  0% {
    transform: scale(1);
  }

  70% {
    transform: scale(1.02);
  }

  100% {
    transform: scale(1);
  }
}
body.modal-open {
  overflow: hidden;
}
